# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
****

1) What test is appropriate for this problem? Does CLT apply?

In [26]:
import pandas as pd
import numpy as np
from scipy import stats
import math

In [2]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [3]:
# number of callbacks for black-sounding names
sum(data[data.race=='b'].call)

157.0

In [4]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

In [6]:
data.id.count()

4870

In [7]:
sum(data[data.race=='w'].call)

235.0

In [10]:
data.columns

Index([u'id', u'ad', u'education', u'ofjobs', u'yearsexp', u'honors',
       u'volunteer', u'military', u'empholes', u'occupspecific', u'occupbroad',
       u'workinschool', u'email', u'computerskills', u'specialskills',
       u'firstname', u'sex', u'race', u'h', u'l', u'call', u'city', u'kind',
       u'adid', u'fracblack', u'fracwhite', u'lmedhhinc', u'fracdropout',
       u'fraccolp', u'linc', u'col', u'expminreq', u'schoolreq', u'eoe',
       u'parent_sales', u'parent_emp', u'branch_sales', u'branch_emp', u'fed',
       u'fracblack_empzip', u'fracwhite_empzip', u'lmedhhinc_empzip',
       u'fracdropout_empzip', u'fraccolp_empzip', u'linc_empzip', u'manager',
       u'supervisor', u'secretary', u'offsupport', u'salesrep', u'retailsales',
       u'req', u'expreq', u'comreq', u'educreq', u'compreq', u'orgreq',
       u'manuf', u'transcom', u'bankreal', u'trade', u'busservice',
       u'othservice', u'missind', u'ownership'],
      dtype='object')

In [32]:
rb = sum(data[data.race=='b'].call)/len(data[data.race=='b'])
rw = sum(data[data.race=='w'].call)/len(data[data.race=='w'])
number = rw-rb
mean=data['call'].mean()
std = math.sqrt((rw* (1-rw) / len(data[data.race=='w'])) + (rb * (1-rb)/len(data[data.race=='b'])))
me = 1.96* std
print(me, std,number-me, number+me)

(0.015255406349886438, 0.0077833705866767544, 0.016777447859559147, 0.047288260559332024)

Requirements for CLT are met
The samples are independent
The sample size is big enough greater than ten

In [18]:
data[data.race=='w'].call.count()

2435

2)What are the null and alternate hypotheses?

In [21]:
from statsmodels.stats.weightstats import ztest
print(ztest(data[data.race=='w'].call))
print(stats.ttest_1samp(data[data.race=='w'].call,data[data.race=='b'].call))

Ttest_1sampResult(statistic=2        16.124374
3        16.124374
7        16.124374
8        16.124374
9        16.124374
10       16.124374
12       16.124374
14       16.124374
17       16.124374
19       16.124374
20       16.124374
25       16.124374
26       16.124374
28       16.124374
29       16.124374
31       16.124374
33       16.124374
36       16.124374
37       16.124374
38       16.124374
41       16.124374
44       16.124374
45       16.124374
47       16.124374
49       16.124374
50       16.124374
53       16.124374
55       16.124374
57       16.124374
59       16.124374
           ...
4808     16.124374
4812     16.124374
4815     16.124374
4818     16.124374
4820     16.124374
4821     16.124374
4823     16.124374
4825     16.124374
4827     16.124374
4828     16.124374
4832     16.124374
4833     16.124374
4835     16.124374
4837     16.124374
4840     16.124374
4841     16.124374
4842     16.124374
4844     16.124374
4848   -150.951599
4849     16.124374
4850     16.124374
4853     16.124374
4856     16.124374
4857     16.124374
4858     16.124374
4859   -150.951599
4864     16.124374
4865     16.124374
4866     16.124374
4868     16.124374
Name: call, dtype: float32, pvalue=array([  1.18565929e-55,   1.18565929e-55,   1.18565929e-55, ...,
         1.18565929e-55,   1.18565929e-55,   1.18565929e-55]))

Alternate hypothesis works better.

3) Compute margin of error, confidence interval, and p-value.

In [33]:
std = math.sqrt((rw* (1-rw) / len(data[data.race=='w'])) + (rb * (1-rb)/len(data[data.race=='b'])))
me = 1.96* std
print(me, std,number-me, number+me)

(0.015255406349886438, 0.0077833705866767544, 0.016777447859559147, 0.047288260559332024)

Margin of error = 0.00764174088212
confidence interval = [0.072851075983320135, 0.088134557747568232]
p-value = 0.99942356865507509

4)Write a story describing the statistical significance in the context or the original problem.

From confidence interval we see that the value ranges from 0.016 to 0.04 shows that there is significance difference in callbacks

5)Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

No.We cant see that with given information. We must test the significance of these variables to callback rate to determine which is the best to determine callback success.